body{
  font-family: 'Rock 3D', cursive;
  background-color: #edc596;
}
h1{
  text-align:center;
  font-size: 70px;
  color: #e66251;
}
h2{
  font-size: 40px;
}
p{
  text-align: center;
  font-size: 40;
  font-family: 'Roboto', sans-serif;
}
